html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: black;
  font-weight: 300;
  font-size: 13pt;
}

* {
  box-sizing: border-box;
}

/* text styling */
strong {
  font-weight: 600;
}

label {
  display: inline-block;
  font-weight: inherit;
  cursor: pointer;
}

#consent {
  margin: 0 auto;
  margin-top: 0;
  width: min(90%, 800px);
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}