* {
  box-sizing: border-box;
}

#corsiText {
  max-width: 600px;
}

.ex-container {
  width: min(80vw, 50vh);
  min-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #e8e3d8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  gap: 10px;
  position: relative;

  transition: opacity 0.3s ease-in-out;
  animation: FADEIN 1s ease-in-out;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.ex-total-display {
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  background-color: #e8e3d8;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  transform: translate(-50%, 100%);
  padding: 7px;
  padding-top: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  clip-path: inset(0px -10px -10px -10px);
}

.ex-total-inner {
  width: 100%;
  padding: 5px 10px;
  color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #606060;
  box-shadow: inset 0px 0px 10px #303030;
}

.ex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ex-control-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  height: 90px;
}

.ex-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ex-button {
  flex: 1;
  background-color: #404040;
  border-radius: 10px;
  color: white;
  transition: all 0.1s ease-in-out;
  border: 4px #303030 solid;
  cursor: pointer;
  opacity: 0.6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ex-button:hover {
  opacity: 1;
}

.ex-button.disabled {
  transform: scale(0.9);
  opacity: 0.3;
}

#jsPsychCANVAS {
  position: relative;
  border-radius: 15px;
  width: calc(max(min(80vw, 50vh), 500px) - 40px);
  height: calc(max(min(80vw, 50vh), 500px) - 40px);
  background-color: #606060;
  box-shadow: inset 0px 0px 10px #303030;
  background-size: 12.5% 12.5%;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  user-select: none;
}

.ex-mini-canvas {
  position: relative;
  border-radius: 15px;
  grid-area: 1 / 1 / 3 / 2;
  background-color: #606060;
  box-shadow: inset 0px 0px 10px #303030;
  background-size: 50% 50%;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.ex-selected-room {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #e8e3d8;
  box-shadow: 0px 0px 10px #303030;
  color: #303030;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.ex-house {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: #e8e3d8;
  position: absolute;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #303030;
  opacity: 0.7;
  animation: FADEINSHOCK 0.3s ease-in-out;
}

.disabled {
  pointer-events: none;
}

.invisible {
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.ex-state-selected {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

.ex-selector {
  transition: all 0.3s ease-in-out;
  width: 9%;
  height: 9%;
  pointer-events: none;
  border-radius: 50%;
  position: absolute;
  transform-origin: 50% 50%;
  border: 3px #82c5ff solid;
  transform: translate(-50%, -50%) scale(0.95);
}

.ex-selector.pulse {
  animation: PULSE 1s ease-in-out infinite alternate;
  border: 3px #d08080 dashed;
}

.ex-house:hover {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
}

.ex-button-row {
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ex-prior-reward-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #606060;
  box-shadow: inset 0px 0px 10px #303030;
  border-radius: 5px;
  padding: 10px;
  color: white;
  gap: 10px;
  grid-area: 2 / 2 / 3 / 6;
}

.ex-prior-row-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ex-prior-row {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  overflow: scroll;
}

.ex-prior-row::-webkit-scrollbar {
  display: none;
}

.ex-prior-reward {
  animation: FADEINSTATIONARY 0.3s ease-in-out;
  height: 100%;
  background-color: white;
  color: black;
  padding: 0px 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.ex-total-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -45px;
  left: 20px;
  width: 45%;
  height: 30px;
  background-color: #606060;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 5px #303030;
  opacity: 0.7;
}

.ex-turn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -45px;
  right: 20px;
  width: 45%;
  height: 30px;
  background-color: #606060;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 5px #303030;
  opacity: 0.7;
}

.ex-rewardDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030d0;
  color: white;
  text-align: center;
  z-index: 3;
  position: absolute;
  border-radius: 15px;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.float {
  animation: BOB 1s ease-in-out infinite alternate;
}

@keyframes FADEINSTATIONARY {
  0% {
    /* opacity: 0; */
    transform: translateX(calc(100% + 10px));
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes FADEIN {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FADEINSHOCK {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes BOB {
  0% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(5px);
  }
}

@keyframes PULSE {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.15);
  }
}

.instruction-image {
  width: 90vw;
  max-width: 1000px;
}
